<!DOCTYPE HTML>

<html>
<head>
	  <title>Spring Boot - Angularjs Example</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	  <script src="/js/dbController.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	  
</head>
<body>

<div class="container" ng-app="app">

	<h3 style="color:blue">Http Angularjs With SpringBoot Example</h3>
	
	<div ng-controller="jdbcCntrl">
		<form class="form-horizontal" name="customerForm">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name:</label>
				<div class="col-sm-5">
					<input type="text" class="form-control" name="name" id="nameID"
						placeholder="Enter Name" ng-model="name"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="id">ID:</label>
				<div class="col-sm-5">
					<input type="number" class="form-control" name="id" id="ID"
						placeholder="Enter ID" ng-model="id"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default" ng-click="insertdata()">Submit</button>
				</div>
			</div>
		</form>
		
		<p>{{name2}}</p>
<!-- 		<p>{{curUrl}}</p> -->
<!-- 		<p>{{port}}</p> -->
<!-- 		<p>{{protocol}}</p> -->
<!-- 		<p>{{host}}</p> -->
<!-- 		<p>{{fullUrl}}</p> -->
		
<!-- 		<div class="col-sm-offset-2 col-sm-10"> -->
<!-- 			<button id="btn-id" type="button" class="btn btn-primary" ng-click="displayusers()">displayusers() + ngrepeat</button> -->
<!-- 			<ul> -->
<!-- 	        	<li ng-repeat="user in data">{{user.name + " - " + user.id}}</li> -->
<!-- 	        	<p>{{name2}}</p> -->
<!-- 	    	</ul> -->
<!-- 		</div> -->
		<div class="col-sm-offset-2 col-sm-10">
			<button id="btn-id" type="button" class="btn btn-primary" ng-click="testconnection()">test connection()</button>
		</div>
<!-- 		<div class="col-sm-offset-2 col-sm-10"> -->
<!-- 			<button id="btn-id" type="button" class="btn btn-primary" ng-click="displayusers()">displayusers()</button> -->
<!-- 		</div> -->
		
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>ID</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in data">
					<td>{{user.userid}}</td>
					<td>{{user.username}}</td>
				
				</tr>
			</tbody>
		
		</table>
		
		<div>
            <label>Add User</label>
            <table border="1">
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Major</td>
                    <td>Add</td>
                </tr>
                <tr>
                    <td><input type="text" data-ng-model="firstName"></td>
                    <td><input type="text" data-ng-model="lastName"></td>
                    <td><input type="text" data-ng-model="new_major"></td>
                    <td><button data-ng-click="addUser()">Add</button></td>
                </tr>
            </table>
        </div>
		

	</div>
	
</div>
</body>
</html>