<!DOCTYPE HTML>

<html>
<head>
	  <title>Spring Boot - Angularjs Example</title>
	  <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1" />
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	  <script src="/js/jdbcController.js"></script>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
	  
</head>
<body>
	<div class="container" data-ng-app="app">
		<div data-ng-controller="jdbcCntrl">
			<div class="row content">
            <label>Add User</label>
            <table border="1">
                <tr>
                    <td>{{testInput}}</td>
                    <td>lastName</td>
                    <td>Major</td>
                    <td>Add</td>
                </tr>
                <tr>
                    <td><input type="text" data-ng-model="firstName"></input></td>
                    <td><input type="text" data-ng-model="lastName"></input></td>
                    <td><input type="text" data-ng-model="new_major"></input></td>
                    <td><button data-ng-click="addUser()">Add</button></td>
                </tr>
                <tr>
                    <td><input type="text" data-ng-model="id"></input></td>
                    <td><button data-ng-click="getUserID()">Click to get User</button></td>
                    <td>{{foundUser.firstName}}</td>
                </tr>
            </table>
            {{foundUser.lastName}}
            {{foundUser.id}}
            <table border="1">
                <tr>
                    <td>eventName</td>
                    <td>hostID</td>
                    <td>Description</td>
                    <td>Private (1 or 0)</td>
                    <td>Location</td>
                    <td>eventTime</td>
                    <td>eventDate</td>
                </tr>
                <tr>
                    <td><input type="text" data-ng-model="eventName"></input></td>
                    <td><input type="text" data-ng-model="hostID"></input></td>
                    <td><input type="text" data-ng-model="description"></input></td>
                    <td><input type="text" data-ng-model="priv"></input></td>
                    <td><input type="text" data-ng-model="location"></input></td>
                    <td><input type="text" data-ng-model="eventTime"></input></td>
                    <td><input type="text" data-ng-model="eventDate"></input></td>
                    <td><button data-ng-click="addEvent()">Add</button></td>
                </tr>
            </table>
            </div>
        </div>
		

	</div>

</body>
</html>