<!DOCTYPE html>
<html>
<head>
<title>Paired Home Page</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	
<style>
/* Format navbar */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Footer */
footer {
	padding: 10px;
}

/* Carousel Images*/
.carousel-inner img {
	width: 100%; /* Set width to 100% */
	margin: auto;
	max-height: 325px;
}

/* Hide carousel text when the screen is less than 600 pixels wide */
@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
	}
}
</style>
</head>

<body>
	<div data-ng-app="pairedApp" data-ng-controller="pairedController">

		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/home/">Home</a></li>
						<li><a href="/events/">Search Events</a></li>
						<li><a href="/createEvent/">Create Events</a></li>
						<li><a href="/yourEvent/">My Events</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span>
								Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End Nav bar  -->
		
		<!--  Carousel -->
		<div>
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div
						data-ng-class="{item: true, active: (img.source === '{{carouselImages[0].source}}')}"
						data-ng-repeat="img in carouselImages">
						<img data-ng-src="{{img.source}}" alt="Slide number Test" />
						<div class="container">
							<div class="carousel-caption">
								<h3>{{img.title}}</h3>
							</div>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#myCarousel" role="button"
					data-slide="prev"><span
					class="glyphicon glyphicon-chevron-left"></span> </a> <a
					class="right carousel-control" href="#myCarousel" role="button"
					data-slide="next"><span
					class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>
		<!-- End div for carousel -->
		
		<!-- Display Event Elements -->
		<div class="container text-center">
			<h2>Discover Your Passion</h2>
			<hr/>
			
			<div ng-repeat="event in displayEventImages">
				<div ng-if="$index%3==0" class="row"> </div> 

				<div>
					<div class="col-sm-4">
						<a href="{{event.link}}">
							<img src="{{event.source}}" class="img-responsive"
							style="width:325px;height:250px;" alt="Image"></img>
						</a>
						<h4>{{event.title}}</h4>
						<br/><br/>
					</div>
				</div>
			</div>
		</div>
		<!--End div for Display Event Elements -->
		
		<footer class="container-fluid text-center">
			<hr />
			<p>©Paired 2017 &bull; Developed by SystemBobaDrink &bull; CS480
				Fall 2017</p>
			<img src="/images/paired.png" style="width: 40px;"></img>
		</footer>
	</div>
	<!-- end ng-controller div -->
</body>
<script src="/js/PairedController.js"></script>
</html>