<!DOCTYPE html>
<html lang="en">
<head>
<title>Paired Your Events Page</title>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 800px
}
/* Format navbar */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Footer */
footer {
	padding: 10px;
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.glyphicon-asterisk { color: red }

</style>
</head>

<body>
	<div data-ng-app="pairedApp" data-ng-controller="pairedYourEventsController">
		<!-- <button data-ng-click="">Click to get all Events</button> -->
		<div></div>
		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/home/">Home</a></li>
						<li><a href="/events/">Search Events</a></li>
						<li><a href="/createEvent/">Create Events</a></li>
						<li><a href="/yourEvent/">My Events</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Sidebar -->
		<div class="container-fluid" >
			<div class="grid">
				<div class="sidenav">
					<div class="col-sm-3 sidenav">
						<h4>Filter By:</h4>
						
						<ul class="nav nav-pills nav-stacked" >
							<li data-ng-click="updateCategoryInput('')"><a>All Categories</a></li>
							<li data-ng-repeat="event in testInput | unique: 'category'" data-ng-click="updateCategoryInput(event.category)"><a> {{event.category}}</a></li>
						</ul>
					</div>
				</div>

				<!-- Events -->
				
				<div class="col-sm-9">
					<div>
						<h2>Your Events</h2>
						
						<!-- NEED TO UPDATE THIS for the user email http call  -->
						<div>
							<span class="glyphicon glyphicon-asterisk"></span>Enter your UserID: 
							<input type="text" data-ng-model="userID">  </input>  
							<button class="btn btn-success btn-sm" data-ng-click="getEventsUserIsApartOfReturnObject(userID)">Submit</button> 
						</div>
					</div>
					<hr/>

					<div data-ng-repeat="event in testInput | filter: { category: filterCategory }">
						<h2>{{event.name}}</h2>
						
						<h5>
							<span class="label label-primary">{{event.category}}</span>
							<br/><br/>
						</h5>
						
						<h5>
							<span class="glyphicon glyphicon-time"></span> Event hosted by {{event.hostEmail}}
						</h5>
						
						<h5>
							<span class="glyphicon glyphicon-map-marker"></span> {{event.location}}
						</h5>
						
						<h5>
							<span class="glyphicon glyphicon-calendar"></span> {{event.eventDate}} {{event.eventTime}}
						</h5>
						
						<h5>
							<div ng-if="event.priv==0"><span class="glyphicon glyphicon-eye-open"></span> Visibility: Public</div>
							<div ng-if="event.priv==1"><span class="glyphicon glyphicon-eye-close"></span> Visibility: Private</div>
						</h5>

						<h5>
							<p>Event Description: {{event.description}}</p>
						</h5>
						
						<hr/>
					</div>
				</div>
				<!-- End all events div -->
			</div>
			<!-- End of row content -->

			<footer class="container-fluid text-center">
				<hr></hr>
				<p>©Paired 2017 &bull; Developed by SystemBobaDrink &bull; CS480 Fall 2017</p>
				<img src="/images/paired.png" style="width: 40px;"></img>
			</footer>
		</div>
	</div>
</body>
<script src="/js/PairedController.js"></script>
</html>