<!DOCTYPE html>
<html>
<head>
<title>Paired General Event Page</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<meta charset="utf-8"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<style>
/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
.row.content {
	height: 820px
}
/* Format navbar */
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Footer */
footer {
	padding: 10px;
}

/* Set gray background color and 100% height */
.sidenav {
	background-color: #f1f1f1;
	height: 100%;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {
		height: auto;
	}
}

.glyphicon-asterisk {
	color: red
}

.notbold {
    font-weight:normal
}​

</style>
</head>

<body>
	<div data-ng-app="pairedApp" data-ng-controller="pairedEventController" >

		<!-- Navigation Bar -->
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand"></a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li><a href="/home/">Home</a></li>
						<li><a href="/events/">Search Events</a></li>
						<li><a href="/createEvent/">Create Events</a></li>
						<li><a href="/yourEvent/">My Events</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- End of Nav Bar -->

		<!-- Main Page Content -->
		<div class="container-fluid" data-ng-init="getAllEvents()">
			<div class="grid">
				<!-- Sidebar -->
				<div class="col-sm-3 sidenav">
					<h4>Filter By:</h4>

					<ul class="nav nav-pills nav-stacked">
						<li data-ng-click="updateCategoryInput('')"><a>All Categories</a></li>
						<li data-ng-repeat="event in testInput | unique: 'category'"
							data-ng-click="updateCategoryInput(event.category)"
						><a> {{event.category}}</a></li>
					</ul>
				</div>
				<!-- End of Sidebar -->

				<!-- Events -->
				<div class="col-sm-9">
					<div>
						<h2>Find Events to Attend</h2>
						<div ng-if="userID==''">
							<div class="alert alert-danger alert-dismissable fade in">
								<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> <strong>Alert!</strong>
								Please enter in your user Id to attend events!
							</div>
						</div>
						<!-- NEED THIS TO ALLOW USER TO ATTEND EVENT  -->
						<div>

							<span class="glyphicon glyphicon-asterisk"></span>Enter your UserID: <input type="text"
								data-ng-model="userID"
							></input>

						</div>
					</div>
					<hr />

					<div data-ng-repeat="event in testInput | filter: { category: filterCategory }">
						<h3>{{event.name}}</h3>
						
						<h5>
							<span class="glyphicon glyphicon-user"></span> Event hosted by <span class='notbold'>{{event.hostEmail}}</span>
						</h5>

						<h5>
							<span class="label label-primary">{{event.category}}</span> <br /> <br />
						</h5>

						<h5>
							<span class="glyphicon glyphicon-map-marker"></span> Location: <span class='notbold'>{{event.location}}</span> 
						</h5>

						<h5>
							<span class="glyphicon glyphicon-time"></span> Date: <span class='notbold'>{{event.eventDate}} @{{event.eventTime}}</span>
						</h5>

						<h5>
							<div ng-if="event.priv==0">
								<span class="glyphicon glyphicon-eye-open"></span> Visibility: <span class='notbold'>Public</span>
							</div>
							<div ng-if="event.priv==1">
								<span class="glyphicon glyphicon-eye-close"></span> Visibility: <span class='notbold'>Private</span>
							</div>
						</h5>

						<h5>
							<p>Event Description: <span class='notbold'>{{event.description}}</span></p>
						</h5>
						<div ng-if="userID!=''">
							<button type="button" ng-click="addUserEventLink(event.eventID)" class="btn btn-info">Attend</button>
						</div>
						<hr />
					</div>
				</div>
			</div>
			<footer class="container-fluid text-center">
				<hr />
				<p>©Paired 2017 &bull; Developed by SystemBobaDrink &bull; CS480 Fall 2017</p>
				<img src="/images/paired.png" style="width: 40px;"></img>
			</footer>

		</div>
		<!-- End of Main Page Content -->

	</div>
	<!-- End of ng-controller div -->
</body>
<script src="/js/PairedController.js"></script>
</html>